@font-face {
	font-family: 'CascadiaMono';
	src: url('../fonts/CascadiaMono.ttf') format("truetype");
}

@font-face {
	font-family: 'CascadiaMonoItalic';
	src: url('../fonts/CascadiaMonoItalic.ttf') format("truetype");
}

input {
	transition-duration: 0.1s;
}

input:hover {
	font-weight: bold;
	background-color: GhostWhite;
	border-color: LightSalmon;
	border-radius: 4px;
}

.selected_choice,
.selected_rating {
	font-weight: bold;
	background-color: GhostWhite;
	border-color: LightBlue;
	border-radius: 4px;
	transition-duration: 0.1s;
}

.table_of_contents {
	margin: 0;
	padding: 0.25% 1% 0.25% 1%;
}
