<div class="pagination">
	<span class="step-links">
		{% if page_obj.has_previous %}
		    <a href="?{{ page_kwarg }}=1">&lt;&lt;</a>
		    <a href="?{{ page_kwarg }}={{ page_obj.previous_page_number }}">&lt;</a>
		{% else %}
		    <a href="?{{ page_kwarg }}=1">&lt;&lt;</a>
		    <a href="?{{ page_kwarg }}={{ page_obj.number }}">&lt;</a>
		{% endif %}

		<span class="current">
		    Страница {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
		</span>

		{% if page_obj.has_next %}
		    <a href="?{{ page_kwarg }}={{ page_obj.next_page_number }}">&gt;</a>
		    <a href="?{{ page_kwarg }}={{ page_obj.paginator.num_pages }}">&gt;&gt;</a>
		{% else %}
		    <a href="?{{ page_kwarg }}={{ page_obj.number }}">&gt;</a>
		    <a href="?{{ page_kwarg }}={{ page_obj.paginator.num_pages }}">&gt;&gt;</a>
		{% endif %}
	</span>
</div>
